/* 

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */


/* td;th {
  border: 2px solid #fff;
  padding: 0.5rem;
  text-align: center;
} */

#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  /* align-content: space-between; */
  min-height: 100vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

th{
  background-color: #fff;
  font-weight: bold;
}

.select{
      padding: 8px 10px;
        border-radius: 6px;
        border: 1px solid #d8dee7;
        font-size: 14px;
        /* width: 30%; */
}
label{
  display: block;
  margin-top: 10px;
}

.flex_container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.flex_item{
  width: 48%;
}

.sectionCard {
        background: #fff;
        border-radius: 8px;
        padding: 16px;
        box-shadow: 0 1px 4px rgba(15,15,15,0.06);
        margin-bottom: 16px;
    }

.sectionTitle {
        margin: 0 0 12px 0;
        font-size: 18px;
        color: "#0b5aaa";
        text-transform:"capitalize"
    }

.smallBtn {
        padding: 6px 8px;
        border-radius: 6px;
        border: 1px solid #d0d7e0;
        background: #fff;
        cursor: pointer;
    }

.sectionCard button{
   padding: 6px 8px;
        border-radius: 6px;
        border: 1px solid #d0d7e0;
        background: #fff;
        cursor: pointer;
}


header {
  background-color: white;
  /* height: 80px; */
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: min(100vw, 1280px);
  position: fixed;
  z-index: 3;
}

.sperator header{
  position: relative;
  z-index: -3;
}
footer{
    padding: 10px;
    width: min(100vw, 1280px);

}

footer p, footer span {
  font-size: 14px;

}

nav{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
   /* margin-bottom: 10px; */

}

#nav{
  padding: 10px 20px;
  background-color: white;
  color: rgb(11, 95, 255);
  font-size: 18px;
  font-weight: bolder;
  /* margin-bottom: 10px; */

}

.active{
  border: 2px solid rgb(11, 95, 255);
}

#disabledBtn {
  background-color: grey;
  cursor: not-allowed;
}


.logo_div img {
  height: 100px;
  width: auto;
}

@media screen and (max-width:640px){
  .flex_container{
  justify-content: center;
}

#nav{
  padding: 10px;
  background-color: white;
  color: rgb(11, 95, 255);
  font-size: 14px;
  font-weight: bolder;
}

header{
flex-direction: column;
}

.logo_div img {
  height: 50px;
  width: auto;
}


header button {
  padding:3px;
  font-size: 12px
}

/* table{
  width: 100vw;
} */
}

@media screen and (max-width:1280px){
#root {
  margin: 0 ;

}

}

