.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    padding: 50px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 50%;
}

@media (max-width: 768px) {
    .login-form {
        width: 80%;
        padding: 30px;
    }
}

@media (max-width: 480px) {
    .login-form {
        width: 95%;
        padding: 20px;
    }
}