:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #f2f2f2;
  color: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;

}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;

}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background: #fafafa;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#disabledBtn {
  background-color: grey;
  cursor: not-allowed;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  /* font-size: 1em; */
  /* font-weight: 500; */
  font-family: inherit;
  /* background-color: #1a1a1a; */
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

table{
  overflow-x: scroll;
  display: block;
  width: 95vw;
  margin:0px auto;
}

.smallbtn{
        padding: 6px 8px;
        border-radius: 6px;
        border: 1px solid #d0d7e0;
        background: #fff;
        cursor: pointer;
}
.smallbtn:active{
  background-color: rgb(11, 95, 255);
  border-color: rgb(11, 95, 255);
  	color: white;

}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}